* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6ccc2;
}

.logo {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.container {
  width: 80%;
  margin: auto;
}

input {
  padding: 10px;
}

/* STORY CONTAINER */

.stories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

/* STORY DESIGN */

.story {
  width: 30%;
  background-color: #fff;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.story .img-container {
  width: 300px;
  height: 200px;
  margin: auto;
}

.story .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  margin-top: 1rem;
  text-align: justify;
  text-indent: 30px;
}

/* hero image desgins */

.hero-img-container {
  width: 100%;
  background-color: white;
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hero-img-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0.5rem;
}
