*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
}
body{
    background-image: url(/img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-color: white;
    /* overflow: hidden; */
}
.container{
    margin: auto;
    text-align: center;
}
nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
}
.header{
    display: flex;
}
.links,li{
    display: flex;
    list-style: none;
    padding: 0 20px;
    color: tomato;
    text-transform: capitalize;
    font-weight: 600;
}
.active{
    color: pink;
}
.header-logo{
    transform: translateX(20px);
    text-transform: uppercase;
    color: pink;
}
.logo-image img{
    width: 50px;
}
.learn{
    margin-top: 40px;
    padding: 5px;
}
.learns{
    text-transform: capitalize;
    color: white;
    font-size: 52px;
    background-color: red;
    width: 600px;
    margin: auto;
}
p{
    font-size: 16px;
}
button{
    background-color: red;
    color:white;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    width: 180px;
    margin-top: 20px;
    text-transform: capitalize;
    box-shadow: 2px 2px 12px black;  
    font-size: 22px;  
}
.back{
   transform: translateY(90px);
    background-color: white;
    border-radius: 200px;
    margin-top: 60px;
    border-left : 10px white;
}
.anotherback{
    background-color: white;
    height: 500px;
    border-radius: 500px;
}
.stories{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: auto;
    text-align: center;
    transform: translateY(-110px);
}
.story{
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;
    margin: auto;
    text-align: center;
}
.images img{
    width: 80px;
    background-color: blueviolet;
    border-radius: 50%;
    padding: 10px;
    opacity:inherit;
    fill: white;
}
#cert img{
    width:80px;
    height:80px;
}
#fire img{
    width:80px;
    height:80px;
}
#grada  img{
    width:80px;
    height:80px;
}
h3{
    color: red;
    text-transform: capitalize;
}

@media  (max-width:780px){
    nav{
        flex-direction: column;
        font-size: 12px;
    }
    .learns{
        width: 180px;
        font-size: 18px;
    }
    .content{
        font-size: 10px;
    }
    .stories{
        flex-direction: column;
    }
    body{
        overflow: visible;
    }
    button{
        background-color: seagreen;
        color: white;
    }
}
