* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: tomato;

}

.header {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: capitalize;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

/* Small Mobile */

@media all and (max-width:281px) {
    .header {
        text-align: left;
        color: white;
    }

    nav {
      flex-direction: column;
      padding: 5px;
         
    }
    input{
        width: 100%;
    }
    ::placeholder{
        text-align: center;

    }

    .image-container img {
        width: 100%;
        padding: 5px;
        background-color: white;
    }

    .stories {
        margin: 10px;
        padding: 5px;
        width: 95%;
        background-color: white;
        margin-top: 20px;
        gap: 10px;
        flex-flow: column;
    }

    .stories img {
        width: 100%;
    }

    .story {
        padding: 7px;
    }
    .image-container img {
        margin-top: 20px;
        width: 100%;
        padding: 5px;
        background-color: white;
}
.content2{
    background-color: white;
}
.images img{
    width: 100%;
}
.footer{
    background-color: white;
    padding: 10px;
}
.items{
flex-direction: column;
gap: 5px;
}
.home{
    background-color: gray;
    color: white;
}
.bg-home{
    color: white;
    margin-top: 5px;
    background-color: gray;
}
.bg-service{
    margin-top: 5px;
     background-color: gray;
     color: white;
}
.bg-about{
    margin-top: 5px;
    background-color: gray;
    color: white;
}
.bg-contact{
    margin-top: 5px;
    background-color: gray;
    color: white;
}
}

/* Middle Mobile */
@media screen and (max-width:425px){
    .header{
        color: white;
        font-size: 50px;
        text-align: center;
        transform: translateX(200px);
    }
    .container{
        margin: auto;
        text-align: center;
    }
    nav{
        padding: 10px;
        width: 219%;
    }
    .links{
        
        margin: auto;
        width: 100%;
    }
    .image-container img{
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 15px;
        transform: translateX(30px);
        background-color: white;
    }
    .image img{
        
        width: 200%;
    }
    .stories{
        flex-wrap: nowrap;
        display: flex;
        margin: 20px;
        padding: 10px;
        text-align: center;
        width: 100%;
        background-color: white;
    }
    .story{
        width: 200px;
    }
    .story img{
        width: 100px;
    }
}

