*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url(/img/bg.avif);
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 100px;
    width: 100%;
}
.container{
    filter: none;
    background-color: dodgerblue;
    background-attachment: fixed;
}  
.header{
 box-shadow: 2px 2px 22px gray;
    background-color: whitesmoke; 
    background-attachment: fixed;
}
ul li {
    display: inline;
    padding: 20px;
    margin: 20px;
    
}
.header ul li a{
    text-decoration: none;
    display: inline;
    text-align: center;
    margin: auto;
    justify-content: center;
    font-size: 22px;
    color: black;
}
.header a:hover{
    text-decoration: underline;
}
.centers{
    text-align: center;
    padding: 10px;
}
.active{
    background-color: orange;
    padding: 0 10px;
    color: black;
}
.login,.singup{
    text-align: right;
    
}
.main-content{
    display: flex;

}
.content{
    font-size: 32px;
    text-justify: auto;
    text-align: center;
    padding: 40px;
    margin: 40px;

}
h4{
    text-align: left;
    color: white;
}
span{
    color: gainsboro;
}
p{
    margin-top: 20px;
    text-align: left;
    color: white;

}
.sawirkaDhexe img{
    width: 500px;
    margin:10px;
    padding: 10px;
    box-shadow: 0px 0px 0px gray;
    border-radius: 50px;
  animation: 2s linear 1s infinite alternate slidein;
    
}
section{
    background-color: white;
    padding: 60px 0px;
    display: flex;
}
/* Qofka 1aad */
.qofka1ad{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
}
.sawir2{
    width: 90px;
    height: 90px;
    border-radius: 100px;
}

.qoraal-qofka2aad{
    color: black;
    text-align: center;
}
.icons{
    height: 10px;
    padding: 5px;
    margin: auto;
    text-align: center;
    display: flex;
}
i{
    color: blue;
    background-color: gray;
    padding: 10 0;
}
a img{
    width: 30px;
}


/* Qofka 2aad */
.qofka3ad{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
}
.sawir3{
    width: 90px;
    height: 90px;
    border-radius: 100px;
}

.qoraal-qofka3aad{
    color: black;
    text-align: center;
}

/* Qofka 3aad */
.qofka3ad{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
}
.sawir3{
    width: 90px;
    height: 90px;
    border-radius: 100px;
}

.qoraal-qofka1aad{
    color: black;
    text-align: center;
}
/* Qofka 4aad */
.qofka4ad{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
}
.sawir4{
    width: 90px;
    height: 90px;
    border-radius: 100px;
}

.qoraal-qofka4aad{
    color: black;
    text-align: center;
}
.aboutsection{
    text-align: center;
    color: dodgerblue;
    text-decoration: underline wavy rgb(220, 220, 220);
    transform: translateY(40px);
    text-transform: capitalize;
}