html{
    background-image: url(/img/loginimage.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    width:20%;
    margin: auto;
    display: block;
    transform: translateX(350px);
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 10px;
    position: relative;
}
h1{
    color: white;
}
form::before{
    content: "";
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url(/img/loginimage.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
input{
    margin: 5px;
}