*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: seagreen;
    display: flex;
    align-items: center;
    padding: 4rem;
    
}
.qaybta-sare{
    margin-top: -90px;
    display: flex;
    /* justify-content: space-between; */

}
.social{
    display: flex;
    padding: 0 20px;
  
   
}
.facebook img,.twitter img,.youtube img {
    width: 20px;
    color: yellow;
   
}
.padding-links{
    display: flex;
    padding: 0 20px;
}
a{
    color: yellow;
    padding: 0 20px;
    text-decoration: none;

}
#active{
    color: white;
}
.logo{

    height: 40px;
    width: 100px;
    float: left;
}
.main-menu{
    transform: translateY(-85px);
    align-items: center;
    display: flex;
    flex-direction: row;
 }
 .menu{
    transform: translateY(30px)translateX(350px);
    display: flex;
    flex-direction: row;
    list-style: none;
 }
 .menu li{
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding: 0 20px;
 }
 .main-image img{
    width: 100%;
    transform: translateY(-40px); 
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;

 }
 .ciwaan{
    text-transform: capitalize;
    margin: 40px;
    padding: 10px;
    border-left: 5px solid green;
 }
 .rwapper{
    grid-template-rows: repeat(3,30%);
    flex-flow: nowrap;
    /* grid-template-columns: repeat(3,20%); */
 }
 .boxes{
    display: flex;
    gap: 10px;
    margin: 10px;
    width: 99%;
   
    
 }
 .box img{
    width: 100%;
 }
 .box{
    border: 2px solid gray;
 }
